.collection {
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  width: 20%;
  margin: 1% 36px;
  overflow: hidden;
  height: 33em;
  background-color: #e5e4ccbd;

  .image {
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .detail {
    height: 20%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    // opacity: 0.7;
    justify-content: space-between;

    .name {
      padding: 0 6px;
      margin: 0;
      font-size: 1.5vw;
      font-weight: lighter;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bottom {
      width: 100%;
      display: inline-flex;
      align-items: baseline;
      // margin-bottom: -5px;

      .price {
        width: 30%;
        display: flex;
        font-weight: bold;
        // margin-bottom: 6px;
        // margin-top: 36px;
        font-size: 2vw;
        color: #1d1d1d;
        padding: 10px 6px;
      }

      .controls {
        width: 70%;
        height: 100%;
        // padding-right: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .Icon {
          width: 24px;
          height: 24px;
        }

        .Option {
          text-decoration: none;
          color: black;
          padding: 10px 6px;
          cursor: pointer;
        }

        .plusButton {
          border: 2px solid transparent;
          background-color: black;
          font-size: 16px;
          height: 2em;
          width: 2em;
          border-radius: 10px;
          position: relative;

          &:after,
          &:before {
            content: "";
            display: block;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:before {
            height: 1em;
            width: 0.2em;
          }

          &:after {
            height: 0.2em;
            width: 1em;
          }
        }
      }
    }
  }
}
