.overviewItem {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  width: 30%;
  margin-right: auto;
  overflow: hidden;
  height: 33em;
  position: relative;
  text-align: center;

  .BackgroundImage {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    position: relative;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    & .BackgroundImage {
      transform: scale(1.1);
    }

    & .detail {
      opacity: 0.9;
    }
  }

  .detail {
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: 65%;
    transition: 0.5s ease-in-out;
    // padding: 10%;

    .Title {
      font-weight: bold;
      margin-bottom: 6px;
      margin-top: 36px;
      font-size: 3.5vw;
      color: #1d1d1d;
    }

    .Subtitle {
      font-weight: lighter;
      font-size: 2vw;
      padding: 26px;
      background-color: #e5e4cc;
      border-radius: 20px;
      margin: 0 20px;
    }
  }
}
