.containerBackground {
  z-index: -1;
  .circle {
    z-index: -1;
    position: fixed;
    height: 38em;
    width: 38em;
    border-radius: 50%;
  }

  .blury {
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: url(#blur);
    filter: blur(20px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 2s -webkit-filter linear;
    -moz-transition: 2s -moz-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: 2s filter cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}
