.collectionItem {
  width: 100%;
  display: flex;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
  // display: inline-block;
  // flex-direction: column;
  // padding: 5px 20px;

  .gallery {
    width: 70%;
  }

  .title {
    font-size: 3vw;
    margin-bottom: 5px;
    margin-top: 0.2em;
    // padding-left: 50px;
    text-align: left;
    font-weight: bolder;
    color: #1d1d1d;
    opacity: 0.8;
    text-transform: uppercase;
  }
  .price {
    font-size: 2vw;
    margin-bottom: 5px;
    margin-top: 0.2em;
    // padding-left: 50px;
    text-align: left;
    font-weight: bold;
    color: #1d1d1d;
    opacity: 0.8;
    text-transform: uppercase;
  }

  .misc {
    display: inline-flex;
    flex-direction: column;
    width: 35%;

    .chartSize {
      margin-bottom: 40px;
      .sizes {
        margin-top: 20px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        div {
          padding: 8px;
          width: 40px;
          height: 40px;
          margin: 10px;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .buttons {
      display: contents;
    }

    .sizeGuide {
      justify-content: space-between;
      margin: 20px;
    }

    .delivery {
      justify-content: space-between;
      margin: 20px;
    }
  }

  .media {
    display: inline-flex;
    flex-direction: column;
    width: 65%;

    .controls {
      .slider {
        display: flex;
        width: 51.5%;
        span {
          margin: auto;
        }
      }
    }
    .images {
      height: 0;
      margin-top: 1%;
      padding-bottom: 76.6%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }
}
