.customSelector {
  margin: 20px 0;
  min-width: 165px;
  width: 0;
  height: 60px;
  line-height: 2.7em;
  padding: 10px;
  font-size: 15px;
  background-color: #f9f9fa;
  color: black;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  select {
    padding: 3px;
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
  }
  label {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 0 10px;
    border-radius: inherit;
  }
  label:after {
    content: "\276f";
    // font: 11px "Consolas", monospace;
    color: black;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    // top: 2px;
    padding: 0 10px 2px;
    // border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
  }

  //   &:hover {
  //     background-color: white;
  //     color: black;
  //     // border: 1px solid black;
  //   }

  &.GoogleSignIn {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.Inverted {
    background-color: white;
    color: black;
    // border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
