.Header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .LogoContainer {
    height: 100%;
    width: 196px;
    padding: 5px;

    svg {
      -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    }
  }

  .Options {
    width: 50%;
    height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .Icon {
      width: 24px;
      height: 24px;
    }

    .Option {
      text-decoration: none;
      color: black;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
