.thumbnailsGallery {
  padding: 15px;
  display: table;
  background: #f9f9fa;
  border-radius: 10px;
  margin: auto 0 auto 0;
  max-height: inherit;
  overflow-y: hidden;

  button {
    min-width: 115px;
    height: 40px;
    line-height: initial;
    border-radius: 10px;
    margin: auto;
    outline: none;
  }
  .thumbs {
    /* display: block; */
    /* flex-direction: column; */
    /* max-height: inherit; */
    /* align-items: center; */
    padding: 15px;
    background: white;
    border-radius: 10px;
    margin: 15px 0;
    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      max-width: 72px;
      display: block;
      margin: auto;
    }
    .hovered {
      border-color: black;
    }
  }

  .arrow {
    transform: rotate(90deg);
    font-size: 1.5em;
  }
}
