.galleryContainer {
  display: flex;
  max-height: 530px;
  .image {
    margin: 0 40px;
    max-width: 622px;
    max-height: inherit;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease-out;
    }
  }
}
