.colorPicker {
  display: flex;
  flex-direction: row;
  .box {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    border: 1px solid black;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    clear: both;
    transition: 0.2s ease;
  }
  .selected {
    border: 2px solid black;
  }
}
