.directoryItem {
  width: 100%;
  min-height: 400px;
  position: relative;
  // overflow: hidden;
  margin-top: 40px;

  .categoryName {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #000;
    line-height: 0.1em;
    margin: 20px auto 50px;
    font-size: 3vw;
    font-weight: lighter;
    cursor: pointer;

    span {
      background: #fff;
      padding: 0 10px;
    }
  }

  .content {
    width: inherit;
    display: flex;
    .overviewItems {
      display: flex;
      flex-flow: wrap;
      width: 70%;
    }
    .subMenu {
      z-index: 1;
      width: 30%;
      display: flex;
      flex-flow: wrap;
      position: relative;
      overflow: hidden;
      border-radius: 0.65em;
      padding: 0 0.65em;
      // margin: 0 1em;
      justify-content: space-between;

      .LogoContainer {
        z-index: -1;
        height: 50%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.5;

        svg {
          -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
        }
      }

      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        padding-bottom: 191%;
        box-shadow: inset 0px 0px 150px 60px rgba(224, 194, 152, 0.2);
        border-radius: 50%;
      }
    }
  }
}
