.title {
  font-size: 4vw;
  margin-bottom: 5px;
  margin-top: 0.2em;
  padding-left: 50px;
  text-align: left;
  font-weight: bold;
  color: #1d1d1d;
  opacity: 0.8;
  text-transform: uppercase;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}
